body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
    
}

.mainPage {
    background-color: #FE4A49;
}

.border-3 {
    border-width:3px !important;
}

#aboutCard {
    background-color: #FED766;
}

#portfolioCard {
    background-color: #F9ADA0;
}

#Contact {
    
}

#contactCard {
    background-color: #83B692;
    
}

#name {
    color: white;
}

#myPic {
    height: 200px;
    width: 200px;
    transform: rotate(270deg);
}

#carTitle {
    color: white;
    background-color: #A44A3F;
}

#carDescription {

    background-color:#A44A3F;
}

.carImage {
    height: 20rem;
}

.startCard:hover {
    cursor: pointer;
}

#return:hover {
    cursor: pointer;
}


/* css for new site */
.down {
    position:absolute;
    bottom: 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    cursor: pointer;
    color: #9FB1BC;
}